.section-container {
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 30px;
    .headers {
        text-align: start;
        font-weight: normal;
    }

    #who-i-am-text {
        text-align: start;
    }
}