html {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 20%, rgba(255,254,168,1) 50%);
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.content-container {
  height: 100%;
  overflow: scroll;
  width: 100%;

  
  /* border: 1px solid red; */
}